body {
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a:-webkit-any-link {
  text-decoration: none;
}

.main-layout {
  flex: 1;
  margin: 16px auto;
  /* max-width: 1280px; */
  padding-left: 28px;
  padding-right: 28px;
}

@media (max-width: 460px) {
  .main-layout {
    padding-left: 32px;
    padding-right: 32px;
  }

  .user-layout {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (min-width: 461px) and (max-width: 1440px) {
  .user-layout {
    flex: 1;
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 60px;
  }
}

@media (min-width: 1441px) {
  .user-layout {
    padding-left: 0;
    padding-right: 0;
  }
}

.user-layout {
  flex: 1;
  max-width: 1280px;
  padding-top: 76px;
}